/* ~~~~~ Mini CSS-Reset+Defaults ~~~~~~ */
*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  font-family: inherit;
  box-sizing: border-box;
}

:root {
  /* --sans-serifs: font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; */
  /* --serifs: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
  /* --monos: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; */

}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #ddd;
  color: #111;
  font-family: system-ui;
  line-height: 1.5;
  font-size: 1.125rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main,
.container,
.wrapper {
  width: min(70ch, 100% - 4rem);
  margin-inline: auto;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */