  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0 auto;
    font-family: inherit;
    box-sizing: border-box;
  }

  :root {
    /* --sans-serifs: font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif; */
    /* --serifs: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; */
    /* --monos: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; */
  }

  body {
    display: grid;
    place-content: center center;
    /* justify-content: center;
  align-items: center; */
    height: 100vh;
    margin: 0;
    font-family: system-ui;
    background-color: #dddddd;
  }

  .title {
    font-size: 2rem;
  }

  .timer-container {
    position: relative;
    background-color: black;
    border-radius: 100%;
    margin: 2rem;
    width: 50vmin;
    max-width: 500px;
    height: 50vmin;
    max-height: 500px;
  }

  .circle {
    transform: rotate(-90deg);
    transform-origin: center;
    fill: none;
    stroke: #4caf50;
    stroke-width: 10;
    transition: stroke-dashoffset 0.1s linear;
  }

  .time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    font-weight: bold;
    color: white;
  }

  button {
    padding: 0.2em 1rem;
    margin: 1rem;
    font-size: 2rem;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #45a049;
    }

    &:active {
      color: black;
    }
  }